<md-dialog aria-label="Add New Employee">


    <form ng-cloak name="personForm" class="form-horizontal">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add New Employee</h2>
                <span flex></span>

            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="row"  layout-align="center start">
                <div flex md-whiteframe="3dp" class="md-padding">
                    <div layout-gt-sm="row">
                        <md-input-container flex="50">
                            <label>First name</label>
                            <input ng-model="newEmployee.name"
                                   type="text"
                                   ng-required="true"
                                   name="name">
                        </md-input-container>

                        <md-input-container flex="50">
                            <label>Last name</label>
                            <input ng-model="newEmployee.surname"
                                   type="text"
                                   ng-required="true"
                                   name="surname">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container flex="100">
                            <label>Position</label>
                            <md-select name="position" ng-model="newEmployee.position" >
                                <md-option ng-value="position" ng-repeat="position in positions">{{ position }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>


                    <div layout-gt-sm="row" layout-align="space-between center">
                        <div flex="50">
                            <md-input-container >
                                <label>Birth Day</label>
                                <md-datepicker
                                        class="date-picker-size"
                                        ng-model="newEmployee.birthDay"
                                        ng-required="true"
                                        md-max-date="jobBirthDateMaxDate"
                                        md-open-on-focus
                                >
                                </md-datepicker>
                            </md-input-container>
                        </div>
                        <div flex="50">
                            <md-input-container>
                                <label>Job Start Day</label>
                                <md-datepicker
                                        class="date-picker-size"
                                        ng-model="newEmployee.jobStartDate"
                                        md-min-date="jobStartDateMinDate"
                                        md-max-date="jobStartDateMaxDate"
                                        md-open-on-focus
                                        ng-change="setExpireDateMinDate(newEmployee.jobStartDate)">
                                </md-datepicker>
                            </md-input-container>
                        </div>

                    </div>


                    <div layout-gt-sm="row">
                        <div flex="50">
                            <md-input-container>
                                <label>Job Expire Date</label>
                                <md-datepicker
                                        class="date-picker-size"
                                        ng-model="newEmployee.jobExpireDate"
                                        md-min-date="jobExpireDateMinDate"
                                        ng-change="setStartDateMaxDate(newEmployee.jobExpireDate)"
                                        md-open-on-focus
                                        ng-disabled="jobExpireDisable || !newEmployee.fixedPeriod"></md-datepicker>
                            </md-input-container>

                        </div>



                        <div flex="50">
                            <md-input-container>
                                <md-checkbox ng-model="newEmployee.fixedPeriod" aria-label="Checkbox 1">
                                    Fixed period
                                </md-checkbox>
                            </md-input-container>
                        </div>
                    </div>
                </div>


            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button class="md-raised md-primary"
                       ng-disabled=" personForm.$invalid "
                       ng-click="addEmployeeFromDialog()">Add</md-button>
            <md-button class="md-raised"
                       type="button"
                       ng-click="cancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>