<td >{{ employee.id }} {{ employee.name }}</td>
<td >{{ employee.surname }}</td>
<td >{{ employee.position }}</td>
<td >{{ employee.birthDay | date:'d.M.yyyy' }}</td>
<td >{{ employee.jobStartDate | date:'d.M.yyyy'  }}</td>
<td >{{ employee.jobExpireDate | date:'d.M.yyyy'  }}</td>
<td >{{ employee.fixedPeriod | checkmark}}</td>
<td >
    <div class="btn-group-vertical btn-block">
        <md-button ng-click="editEmployee(employee)" class="md-primary btn btn-primary btn-xs">Edit</md-button>
        <md-button class="md-warn btn btn-danger btn-xs" ng-click="removeItem(employee.id)" class="">Delete &times;</md-button>
    </div>
</td>