
<td>
    <md-input-container>
        <label>First name</label>
        <input ng-model="selected.name"
               type="text"
               ng-required="true"
               name="name">
    </md-input-container>
</td>

<td>
    <md-input-container>
        <label>Last name</label>
        <input ng-model="selected.surname"
               type="text"
               ng-required="true"
               name="selected.surname">
    </md-input-container>
</td>
<td>
    <md-input-container>
        <label>Position</label>
        <md-select name="position" ng-model="selected.position" >
            <md-option ng-value="position" ng-repeat="position in positions">{{ position }}</md-option>
        </md-select>
    </md-input-container>
</td>
<td>
    <md-input-container>
        <label>Birth Day</label>
        <md-datepicker
                ng-model="selected.birthDay"
                ng-required="true"
                md-max-date="jobBirthDateMaxDate"
                md-open-on-focus
                ng-change="">
        </md-datepicker>
    </md-input-container>
</td>
<td>
    <md-input-container>
        <label>Job Start Day</label>
        <md-datepicker
                ng-model="selected.jobStartDate"
                md-min-date="selected.birthDay"
                md-max-date="jobStartDateMaxDate"
                md-open-on-focus
                ng-change="setExpireDateMinDate(selected.jobStartDate)">
        </md-datepicker>
    </md-input-container>
</td>
<td>
    <md-input-container>
        <label>Job Expire Date</label>
        <md-datepicker
                ng-model="selected.jobExpireDate"
                md-min-date="jobExpireDateMinDate"
                ng-change="setStartDateMaxDate(selected.jobExpireDate)"
                md-open-on-focus
                ng-disabled="jobExpireDisable || !selected.fixedPeriod"></md-datepicker>
    </md-input-container>
</td>
<td>  <md-input-container>
    <md-checkbox ng-model="selected.fixedPeriod" aria-label="Checkbox 1">
        Fixed period
    </md-checkbox>
</md-input-container></td>
<td>
    <div class="btn-group-vertical btn-block">
        <md-button class="md-raised md-primary btn btn-primary btn-xs"
                   ng-click="changeItem(selected.id)"
                   ng-disabled="rowForm.$invalid">Save</md-button>
        <md-button  class="md-raised btn btn-default btn-xs" ng-click="resetSelectedEmployeeObject()">Cancel</md-button>

    </div>
</td>