<div id="App3" ng-controller="TabulkaCtrl">
    <div class="md-whiteframe-1dp md-padding md-margin">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Filter</label>
            <input ng-model="liveFilter" >
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Order By</label>
            <input ng-model="orderKey" disabled>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Direction</label>
            <input ng-model="orderDirection" disabled>
        </md-input-container>
    </div>

    <div class="md-whiteframe-1dp md-padding md-margin" layout="row"  layout-align="center start" >
        <table class="table table-hover" flex="100">
            <tr>
                <th class="width-table" ng-click="setOrderKey('name')">Name</th>
                <th class="width-table" ng-click="setOrderKey('surname')">Surname</th>
                <th class="width-table" ng-click="setOrderKey('position')">Occupation</th>
                <th class="width-table" ng-click="setOrderKey('birthDay')">Birth Day</th>
                <th class="width-table" ng-click="setOrderKey('jobStartDate')">Job Start Date</th>
                <th class="width-table" ng-click="setOrderKey('jobExpireDate')">Job Expiration Date</th>
                <th class="width-table" ng-click="setOrderKey('fixedPeriod')">Fixed Period</th>
                <th class="width-table" ></th>
            </tr>

            <tr ng-form="rowForm" layout-align="start center"
                class="table-item"
                ng-repeat="employee in tableData | filter:filterByNameSurnamePosition | orderBy: orderKey: orderKeyreverse"
                ng-include="getTemplate(employee)">
            </tr>

        </table>
    </div>

    <md-button class="md-raised md-primary btn btn-default btn-lg btn-block" ng-click="showAddNewEmployee($event)" >Add new</md-button>




</div>
